
<nav>
    <div class="nav-left ">
<a href="/home" class="nav-logo">Shop<span>Nest</span></a>
  <ul class="nav-links">
  <a routerLink="/products/all">All</a>
  <a routerLink="/products/fashion">Fashion</a>
  <a routerLink="/products/electronics">Electronics</a>
  <a routerLink="/products/Furniture">Furniture</a>
  </ul>
    </div>
  
  <div class="nav-actions">
    <div class="nav-icon"><input type="text" placeholder="Search..." class="search-input"><span>🔍</span></div>
    
    <div class="nav-icon cart-badge">
      🛒
      <span class="badge">3</span>
    </div>
    <div class="nav-icon">👤</div>
  </div>
</nav>